<<<<<<< HEAD
<%- model_class = Provider -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>
=======
<h1>New provider</h1>

<%= render 'form' %>

<%= link_to 'Back', providers_path %>
>>>>>>> a85857b70e0ab3c5ee42c62102cd2bf50984ba25
