<<<<<<< HEAD
<%- model_class = Sale -%>
<div class="page-header">
  <h1><%=t '.Realizar venta' %></h1>
</div>
<%= render :partial => 'form' %>
=======
<h1>New sale</h1>

<%= render 'form' %>

<%= link_to 'Back', sales_path %>
>>>>>>> a85857b70e0ab3c5ee42c62102cd2bf50984ba25
